* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

title {
  display: block;
}

html, body {
  width: 100%;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.section + .section {
  margin-top: 32px;
}

.section-text,
.section-canvas {
  width: 50%;
}

.section-text {
  min-height: 480px;
}

.section-text .section-title {
  text-transform: uppercase;
}

.section-text .dice-roll,
.section-text .dice-change,
.section-text .pixel-roll,
.section-text .pixel-change {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}

.section-canvas {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.section-canvas .container {
  position: relative;
  width: 95%;
}

.section-canvas .dataset {
  text-transform: capitalize;
}

p + p {
  margin-top: 14px;
}

.image-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
}

.image-container img {
  width: 25%;
}
