* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  font-size: 17px;
}

body {
  padding: 10px;
}

title {
  display: block;
  font-size: 2rem;
  margin-bottom: 24px;
}

.section {
  width: 100%;
  height: calc(100vh - 2 * 28px);
  display: flex;
  flex-direction: row;

  padding: 30px;
  border: #222 1px solid;
  border-radius: 5px;
  margin-bottom: 28px;

  position: sticky;
  top: 28px;
  background-color: #eee;
}

.section + .section {
  margin-top: 50vh;
}

.section-text,
.section-canvas {
  width: 50%;
}

.section-text {
  min-height: 480px;
}

.section-text .section-title {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.section-text .dice-roll,
.section-text .dice-change,
.section-text .pixel-roll,
.section-text .pixel-change {
  display: inline-block;
  cursor: pointer;
  user-select: none;

  margin: 1px 0;
  border: 1px #444 solid;
  padding: 2px 10px 1px;
  border-radius: 8px;

  background-color: #eee;
  color: #222;

  transition: all 0.05s linear;
}

.section-text .dice-roll:hover,
.section-text .dice-change:hover,
.section-text .pixel-roll:hover,
.section-text .pixel-change:hover {
  background-color: #de9e9e;
}

.section-canvas {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.section-canvas.top {
  justify-content: flex-start;
}

.section-canvas .container {
  position: relative;
  width: 95%;
}

.section-canvas .dataset {
  text-transform: capitalize;
}

p + p {
  margin-top: 14px;
}

.image-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
}

.image-container img {
  width: 12.5%;
}
