* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  font-size: 17px;
}

.graph-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-top: 20px;
}

.graph-container .v-axis {
  width: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 4px;
  margin-bottom: 20px;
}

.graph-container .graph-x-container {
  width: 65%;
}

.graph-container .h-axis {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
